<div class="container">
  <div class="site__title">
    <p class="site__title-text">Sites</p>
  </div>
  <div class="site__container">
    <app-site title="Site1" img="site1" website="site1.example.com" theme="dark"></app-site>
    <app-site title="Site2" img="site2" website="site2.example.com" theme="white"></app-site>
    <app-site title="Site3" img="site3" website="site3.example.com" theme="blue"></app-site>
    <app-site title="Site4" img="site4" website="site4.example.com" theme="yellow"></app-site>
    <app-site title="Site5" img="site5" website="site5.example.com" theme="purple"></app-site>
    <app-site title="Site6" img="site6" website="site6.example.com" theme="orange"></app-site>
    <app-site title="Site7" img="site7" website="site7.example.com" theme="green"></app-site>
    <app-site title="Site8" img="site8" website="site8.example.com" theme="red"></app-site>
    <app-site title="Site9" img="site9" website="site9.example.com" theme="grey"></app-site>
    <app-site title="Site10" img="site10" website="site10.example.com" theme="pink"></app-site>
    <app-site title="Site11" img="site10" website="site11.example.com" theme="brown"></app-site>
    <app-site title="Site12" img="site10" website="site12.example.com" theme="darkly"></app-site>
    <app-site title="Site13" img="site10" website="site13.example.com" theme="olive"></app-site>
    <app-site title="Site14" img="site10" website="site14.example.com" theme="khaki"></app-site>
    <app-site title="Site15" img="site10" website="site15.example.com" theme="bloody"></app-site>
    <app-site title="Site16" img="site10" website="site16.example.com" theme="lime"></app-site>
    <app-site title="Site17" img="site10" website="site17.example.com" theme="mint"></app-site>
    <app-site title="Site18" img="site10" website="site18.example.com" theme="ivory"></app-site>
  </div>
</div>
